@using Omu.Awem.Helpers
@model IEnumerable<OMI.TbSolicitud>

@{
    ViewBag.Title = "AllSolicitud";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ingenieria Aplicada OnePro</h3>
            </div>
            <div class="panel-body">
                <h2>AllSolicitud</h2>

                <p>
                    <a class="btn btn-success" id="NuevoPedido" href="@Url.Action("NuevaSolicitud","Solicitud" ,new { id=-1})">Solicitud de Productos / Servicios</a>
                  
                </p>
                <p>
                    <a class="btn btn-success" id="NuevoPersonal" href="@Url.Action("Index","Personal" ,new { id=-1})">Solicitud de Personal</a>

                </p>
             
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>   <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Folio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.TbFormato.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TbUsuario.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Enviado)
                        </th> 
                        <th>
                            Opciones
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
        

                        <tr id="@item.IdSolicitud">
                            <td>
                                @Html.DisplayFor(modelItem => item.Folio)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TbFormato.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TbUsuario.Nombre)
                            </td>
                            <td>
                                <div id="@item.IdSolicitud">
                                    @Html.DisplayFor(modelItem => item.Enviado)
                                </div>
                            </td>
                            
                            <td>
                   
                                @Html.ActionLink("Details", "Details", new {id = item.IdSolicitud, idfor = item.IdFormato })
                                <span> &#124; </span>
                                @Html.ActionLink("Delete", "DeleteM", new {id = item.IdSolicitud, idfor = item.IdFormato })
                              
                    
                        </tr>
         
                    }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $('#assets-data-table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "scrollY": true,
                "scrollX": true,
                paging: false,
                datawidth: '*',
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            });
        });
    </script>

}
