@model IEnumerable<OIM_DAL.TbInve_Equipo_Comp>
@{
    ViewBag.Title = "Inventario - Equipo de Computo";
}

<div class="row">
    <div class="col-md-12">
        <div  id="imprimir" class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;@ViewBag.Title</h4>
            </div>
            <div class="panel-body">
               
               
                <a type="button" class="btn btn-primary" href=@Url.Action("CreaEquipo") >Nuevo Equipo</a>
              
             <a type="button" onclick="DescargarPDF('imprimir','Table')" class="btn btn-info"> Imprimir</a>
                <a type="button" onclick="HTMLtoPDF('imprimir')" class="btn btn-info"> Imprimir</a>
               
               
                    <table id="assets-data-table" class="table table-striped table-bordered" style="width: 100%">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumeroOne)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Serie)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </th>
                            <th>
    @Html.DisplayNameFor(model => model.Caracteristicas)
</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modelo)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.FechaAlta)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Accesorio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TbUsuario.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tb_EstadoEquipo.Nombre)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumeroOne)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Serie)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Caracteristicas)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Modelo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaAlta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Accesorio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TbUsuario.Nombre)
                                </td>
                                <td id="Celda">
                                    @Html.DisplayFor(modelItem => item.Tb_EstadoEquipo.Nombre)
                                </td>
                                <td>
                                    <!-- Split button  Html.ActionLink("Edit", "EditEquipo", new {id = item.Id})-->
                                    
                                    <!-- Single button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sliders" aria-hidden="true"></i> Opción <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("EditEquipo", new {id = item.Id})">Editar</a></li>
                                           
                                        </ul>
                                    </div>



                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </div>
               
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        function DescargarPDF(ContenidoID, nombre) {
            var pdf = new jsPDF('p', 'pt', 'letter');
            html = $('#' + ContenidoID).html();
            specialElementHandlers = {};
            margins = { top: 10, bottom: 20, left: 20, width: 522 };
            pdf.fromHTML(html,
                margins.left,
                margins.top,
                { 'width': margins.width },
                function(dispose) { pdf.save(nombre + '.pdf'); },
                margins);
        }

        function HTMLtoPDF() {
            var pdf = new jsPDF('p', 'pt', 'letter');
            source = document.body;
            specialElementHandlers = {
                '#bypassme': function (element, renderer) {
                    return true
                }
            }
            margins = {
                top: 50,
                left: 60,
                width: 545
            };
            pdf.fromHTML(
                source // HTML string or DOM elem ref.
                , margins.left // x coord
                , margins.top // y coord
                , {
                    'width': margins.width // max width of content on PDF
                    , 'elementHandlers': specialElementHandlers
                },
                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF
                    //          this allow the insertion of new lines after html
                    pdf.save('html2pdf.pdf');
                }
            )
        }

    </script>

}


