@using OMI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ingenieria Aplicada OnePro</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                   
                    <div class="top-content">

                        <div class="inner-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2 text">
                                        <h1>
                                            <strong>OIM</strong> One Integration Management
                                        </h1>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3 form-box">
                                        <div class="form-top">
                                            <div class="form-top-left">
                                                
                                                <p>Ingrese su Usuario y Contraseña para acceder al sistema:</p>
                                            </div>
                                            <div class="form-top-right">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </div>
                                        <div class="form-bottom">
                                            <form role="form" action="" method="post" class="login-form">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-username form-control", placeholder = "Username...", id = "form-username" })
                                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-password form-control", placeholder = "Password...", id = "form-password" })

                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                                            </form>
                                          
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}