
@using Omu.Awem.Helpers
@using Omu.AwesomeMvc
@using OMII.Utils
@model OMI.Models.cSolicitud

@{
    ViewBag.Title = "NuevaSolcitud";
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ingenieria Aplicada OnePro @Model.TbSol.EnviadoCom</h3>
            </div>
            <div class="panel-body">
              
               
                <div class="container">

                    <div class="row">

                        <div class="col-md-8">
                            <div class="menubar-logo" id="titulo">


                                <span class="container">



                                    <h1>@Html.DisplayFor(m => m.TbSol.TbFormato.Descripcion)</h1>
                                </span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default" id="panel_ovi">

                                <div class="panel-body">
                                    <div class="input-group ">
                                        <span class="input-group-addon" id="sizing-addon4">Folio</span>
                                        <input type="text" class="form-control" name="Folio" placeholder="Username" aria-describedby="sizing-addon1" value="@Html.DisplayFor(m => m.TbSol.Folio)" style="text-align: right; color: red" readonly="true">
                                    </div>

                                    <ul class="list-group">
                                        <li class="list-group-item"><h6>No. Formato:@Html.DisplayFor(m => m.TbSol.TbFormato.Nombre)</h6></li>
                                        <li class="list-group-item"><h6>Revisión: @Html.DisplayFor(m => m.TbSol.TbFormato.Revision)</h6></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="panel panel-default" id="panel_ovi">

                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><h6>Area Solicitante: <span style="color: red;"><strong> @Html.DisplayFor(m => m.TbSol.TbUsuario.TbArea.Nombre)</strong></span></h6></li>
                                    <li class="list-group-item"><h6>Usuario:<span style="color: red"><strong> @Html.DisplayFor(m => m.TbSol.TbUsuario.Nombre)</strong></span></h6></li>
                                    <li class="list-group-item"><h6>Fecha:<span style="color: red"><strong> @Html.DisplayFor(m => m.FechaCorta)</strong></span></h6></li>

                                </ul>
                            </div>
                        </div>
                            
                           

                        @Html.InitCrudPopupsForGrid("DinnersGrid", "Infraestructura")
                        @* popup names will be action + gridid; name is used when calling awe.open(name) *@
                       
                        @if(Model.TbSol.EnviadoCom==0)
                        { 
                            @(Html.Awe().Grid("DinnersGrid")
                                  .Mod(o => o.PageInfo().ColumnsSelector().ColumnsAutohide())
                                  .Url(Url.Action("GridGetItems", "Infraestructura"))
                                  .Resizable()
                                  .Reorderable()
                                  .Height(700)
                                  .Paging(false)
                                  .Groupable(false)

                                  .Columns(
                                      new Column {Name = "Id", Width = 55, Hidden = true},
                                      new Column {Name = "Categoria", ClientFormat = ".Categoria", Header = "Categoria"},

                                      new Column {Name = "Cantidad"},
                                      new Column {Name = "Unidad"},
                                      new Column {Name = "Descripcion"}.Mod(o => o.Nohide()),
                                      new Column {Name = "IdSupervisor", Header = "Autoriza"},
                                      new Column {Name = "Estatus", Header = "Solicitud Compra", ClientFormatFunc = "formatoaceptacion" },
                                      new Column { Name = "Observacion" },
                                      new Column { Name = "Seleccionado",Header = "Orden Compra",ClientFormatFunc = "formatoaceptacion",Hidden = false }.Mod(o=>o.Nohide()),

                                      new Column {Name ="Autorizacion",ClientFormat = GridUtils.EditFormatForGrid("DinnersGrid")}.Mod(o => o.Nohide())))
                        }
                        else{
                        @(Html.Awe().Grid("DinnersGrid")
                              .Mod(o => o.PageInfo().ColumnsSelector().ColumnsAutohide())
                              .Url(Url.Action("GridGetItems", "Infraestructura"))
                              .Resizable()
                              .Reorderable()
                              .Height(700)
                              .Paging(false)
                              .Groupable(false)

                              .Columns(
                                  new Column {Name = "Id", Width = 55,Hidden = true},
                                  new Column {Name = "Categoria", ClientFormat = ".Categoria", Header = "Categoria",}.Mod(o => o.Nohide()),

                                  new Column {Name = "Cantidad"}.Mod(o => o.Nohide()),
                                  new Column {Name = "Unidad" }.Mod(o => o.Nohide()),
                                  new Column {Name = "Descripcion"}.Mod(o => o.Nohide()),
                                  new Column {Name = "IdSupervisor", Header = "Autoriza" }.Mod(o => o.Nohide()),
                                  new Column {Name = "Estatus", Header = "Solicitud Compra", ClientFormatFunc = "formatoaceptacion" }.Mod(o => o.Nohide()),
                                  new Column { Name = "Seleccionado",Header = "Orden Compra",ClientFormatFunc = "formatoaceptacion",Hidden = false }.Mod(o=>o.Nohide()),
                            new Column { Name = "Observacion"}
                                  ))
                        }

                        <br/>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 " style="align-items: right;">
                               
                            @using (Html.BeginForm("Enviar", "Infraestructura", FormMethod.Post, new { @class = "normalPost" }))
                            {
                                if (ViewBag.Visible != 1)
                                {
                                    <a class="btn btn-danger" id="btnCancelar" href="@Url.Action("Cancelar", "Solicitud")">Cancelar</a>
                                    @*  <input type="submit" value="Guardar" id="btnSave" class="btn btn-primary"/><a class="btn btn-success" id="btnCancelar" href="@Url.Action("Enviar", "Solicitud")">Enviar</a>*@
                                    <a class="btn btn-primary" id="btnSave" href="@Url.Action("Guadar", "Solicitud")">Guardar</a>

                                    <button type="submit" class="btn btn-success">Enviar</button>
                                }
                            }
                            @(Html.Awe().Form()
                                  .UseAjax(false)
                                  .Confirm(true)
                                  .FormClass("normalPost")
                                      
                                  .ConfirmOptions(o => {o.Message="Esta seguro de enviar esta Solicitud";
                                                           o.Title = "Confirmar envio";
                                                           o.YesText = "Enviar";
                                                           o.NoText = "Cancelar";

                                  })
                                  .Tag(new { target = "confirmCont" }))
                            <div id="confirmCont"></div>

                                
                           
                        </div>
                    </div>
                </div>
                
    
            </div>
        </div>
    </div>
</div>




