@model OMI.TbOportunidad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbOportunidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSistema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Representante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Representante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TbFormato.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TbFormato.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TbMedioContacto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TbMedioContacto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TbUsuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TbUsuario.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
